.hero-plan-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.plan-card{
    flex-shrink: 0;
    width: 55%;
    height: 250px;
    margin: 0 10px;
    background-color: #a0d3fb;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    scroll-snap-align: center;
}   



.plan-card-detail{
    width: 100%;
    height: 80px;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);             
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.plan-card-detail p{
    font-size: 12px;
}

.plan-card-detail h2{
    font-size: 20px;
    padding: 5px 0;
}



.main-card{
    transform: rotate(3deg);
}

.side-card{
    transform: rotate(357deg);
}

.hero-music-list-wrapper {
    overflow-x: auto; 
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

.hero-music-list{
    display: flex;
    gap: 16px;
    padding-left: 20px;
}

.hero-music-card{
    flex-shrink: 0;
    width: 200px;
    height: 140px;
    background-color: rgb(220, 238, 255);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}   

.music-card-detail{
    width: 100%;
    height: 70px;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);             
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.music-card-detail p{
    font-size: 12px;
}

.music-card-detail h2{
    font-size: 20px;
    padding: 5px 0;
}

.new-plan-create-box{
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
    border-radius: 35px/40px;
}

.new-plan-create{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: #FF7B54;
    color: #fff;
    
    text-decoration: none;
    font-size: 18px;
}

.new-plan-create span{
    margin-right: 10px;
}

/* スクロールバー */

::-webkit-scrollbar {   
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b5dbfb00;
  border-radius: 10px;
}

.hero-music-list-wrapper {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.hero-music-list {
    animation: none !important;
}

