.plan-hero{
    width: 100%;
    height: 530px;
    max-width: 500px;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
}

.trip-title{
    width: 100%;
    padding: 0 20px;
    max-width: 500px;
    position: absolute;
    height: 300px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(transparent, #dcefff 60% 100%);
}

.trip-title h1{
    color: #333;
    font-size: 25px;
}

.trip-title h5{
    color: #666;
    padding: 5px 0;
}

.trip-title p{
    line-height: 1.5;
    color: #666;
}

.page-contents{
    margin-top: 500px;
}

.tree-move{
    width: 100%;
    min-height: 200px;
    padding: 10px 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.move-line{
    height: 180px;
    background-color: #666666;
    min-width: 10px;
    min-height: 100px;
    border-radius: 30px;
}

.move-detail{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #666666;
}

.move-icon{
    font-size: 40px;
    margin: 0 10px;
}

.point-icon{
    font-size: 40px;
}

.move-detail p{
    font-size: 15px;
    font-weight: bold;
}

.tree-point{
    width: 100%;
    margin: 10px 0;
}

.point_tourist{
    padding: 15px;
    border-radius: 30px;
    background-color: #ffffff;
}

.point-detail{
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.point-detail div{
    display: flex;
    justify-content: left;
    align-items: center;
}

.tourist-img{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    border-radius: 15px;
    margin-right: 10px;
    background-color: #d9d9d9;
}

.tourist-info{
    border-radius: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.tourist-detail{
    padding-top: 10px;
}

.tourist-detail p{
    font-size: 14px;
}

.point-card-time{
    font-size: 15px;
    color: #0084FF;
}

.point-card-name{
    font-size: 15px;
}

.point-card-name-tourist{
    font-size: 20px;
}

.move-music-btn{
    background-color: #ffffff;
    border-radius: 60px;
    padding: 10px 20px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7B54;
}

.move-music-btn span{
    margin-right: 10px;
}

.move-music-btn p{
    font-weight: bold;
}

.plan-edit-btn{
    color: #888888;
}

.plan-edit-btn-tourist{
    position: absolute;
    top: 15px;
    right: 15px;
}

.point-info{
    position: relative;
}

.planpage-music-list{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-image: radial-gradient(#e4ddf9, #e4c7de);;
}

.planpage-music-list-title{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #7968FF;
}

.planpage-music-list-title span{
    color: #7968FF;
    font-size: 30px;
}

.planpage-music-list-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #333;
}

.music-list-icon{
    font-size: 25px;
    margin: 0 5px;
}

.music-name{
    font-size: 16px;
    font-weight: bold;
}

.music-aname{
    font-size: 12px;
}



.plan-feedback{
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

.feedback-title{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.feedback-title h3{
    color: #0084FF;
}

.feedback-title p{
    padding: 20px 0;
    font-size: 12px;
    color: #666666;
}

.feedback-btn-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.feedback-level{
    width: 32%;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.feedback-radio:checked + .feedback-level {
  background-color: #007bff;
}

.feedback-level div{
    text-align: center;
}

/* 初期色 */
.level-good { background-color: #DBF4D9; color: #50B048; }
.level-bad { background-color: #FFE6DE; color: #F38C6D; }
.level-verybad { background-color: #FFD4D4; color: #F38C6D; }

/* 選択時 - 背景を濃くする */
.feedback-radio:checked + .level-good {
    background-color: #50B048;
    color: #fff;
}

.feedback-radio:checked + .level-bad {
    background-color: #F38C6D;
    color: #fff;
}

.feedback-radio:checked + .level-verybad {
    background-color: #D93636;
    color: #fff;
}

.feedback-text{
    width: 100%;
    height: 80px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 1px #666;
}

.modal-outline{
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 100svh;
    /* background-color: #888888cf; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-area{
    width: 80%;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px;
    position: relative;
}

.edit-modal-title{
    color: #007bff;
    padding: 20px 0 ;
    text-align: center;
}

.edit-modal-title span{
    font-size: 30px;
}

.model-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.music-play{
    display: none;
    color: #333;
}

.music-modal-area{
    position: fixed;
    width: 100%;
    height: 90%;
    border-radius: 40px 40px 0 0;
    bottom: 0;
    padding: 70px 20px;
    background: #ffffffad; 
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);             
    border: 1px solid rgba(255, 255, 255, 0.3); 
    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.music-play-youtube{
    margin-top: 20px;
}

.plan-edit-b{
    font-size: 20px;
}

.player{
    display: none;
}

.musicplayer-img {
  width: auto; 
  aspect-ratio: 1 / 1; 
  margin: 0 10px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.musicplayer-content{
    width: 100%;
}

.music-info{
    padding: 10px 15px;
}

.music-info h2{
    font-size: 30px;
}

.music-info h3{
    font-size: 15px;
    color: #666;
    padding-top: 5px;
}

.musicplayer-control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicplayer-btn{
    width: 90px;
    height: 90px;
    border-radius: 60px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
