
h1,h2,h3,h4,h5,p,span,a{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0 auto;
  height: 100svh;
  background-image: linear-gradient(339deg, rgba(200, 233, 255, 1), rgb(255, 255, 255));
}

@media screen and (max-width: 500px) {
  body{
    background-color: #7eb5e3;
  }
  
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

main{
    width: 100%;
    height: 100%;
    background-color: #ffffff70;
}

.sm{
  display: block;
  max-width: 500px;
  height: 100svh;
  margin: 0 auto;
  padding: 15px;
  overflow-y: scroll;
  background-image: url(../img/back.png);
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sm::-webkit-scrollbar {
    display: none;
}

.page-header{
    width: 100%;
    padding: 80px 10px 20px 10px;
}

.page-header h1{
  font-size: 30px;
  color: #0084FF;
  padding-bottom: 20px;
  text-align: center;
}

.page-header p{
  font-size: 15px;
  color: #333;
}

.menu-bar-area{
  width: calc(100% - 30px);
  max-width: 470px;
  height: 65px;
  border-radius: 60px;
  position: fixed;
  bottom: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);             
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.menu-bar-area:hover{
  height: 80px;
  transition: 0.3s;
}

.menu-bar-btn{
  width: 25%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #004482;
  border-radius: 60px;
}


.menu-bar-btn span{
  font-size: 30px;
}

.menu-bar-btn p{
  font-size: 10px;
  line-height: 0.9;
}

.menu-bar-btn:hover{
  transition: 1s;
  background-color: #f8fcff;
}

.page-contents{
  margin-bottom: 300px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}

.header-account{
  position: relative;
  height: 45px;
  border-radius: 60px;
  right: 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);             
  border: 1px solid rgba(255, 255, 255, 0.3); 
  text-decoration: none;
}

.header-account span{
  padding-right: 10px;
}

.header-account p{
  font-size: 12px;
}

.header-account:hover{
  transition: 0.3s;
  height: 60px;
  padding: 0 25px;
  background-color: #f8fcff;
  color: #004482;
}

.basic-btn{
  display: block;
  margin: 10px 0;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-btn{
  background-color: #0084FF;
}

.blue-btn:hover{
  background-color: #1a68ad;
  transition: 0.1s;
}

.gray-btn{
  background-color: #909BA6;
}

.gray-btn:hover{
  background-color: #697179;
  transition: 0.1s;
}

.music-card{
  width: 100%;
  height: 70px;
  padding: 0 20px;
  margin: 10px 0;
  background-color: #ffffffcc;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-card:hover{
  height: 80px;
  transition: 0.3s;
}

.music-card div{
  display: flex;
  justify-content: center;
  align-items: center;
}


.music-action-btn span{
  padding: 0 5px;
}

.music-play{
  color: #f03700;
}

.music-favorite {
  font-family: "Material Symbols Rounded";
  font-size: 30px;
  color: #ffbeb1;
  padding: 0 !important;
  margin: 0 !important;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  transition: 0.2s ease;
  outline: none;
}

.music-favorite:hover {
  transform: scale(1.15);
  color: #ff9d8f;
}

/* いいね済み */
.music-favorite.gooded {
  color: #ff4f4f;
}

.music-favorite.gooded:hover {
  transform: scale(1.15);
  color: #ff7a7a;
}

.good-area{
  display: flex;
  align-items: center;
  gap: 4px;
}

.music-img{
  width: 40px;
  border-radius: 10px;
  margin: 0 15px;
}

.music-detail-page {
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 0;
  background: linear-gradient(to bottom, #fffaf5, #e3f4ff);
}

.music-detail-box {
  max-width: 400px;
  margin: 0 auto;
}

.music-detail-box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
}

.music-detail-box .label {
  font-size: 15px;
}

.music-detail-box p {
  margin-left: 20px;
}

.basic-form-box{
  margin: 20px 0;
}

.basic-form-input{
  width: 100%;
  height: 70px;
  border-radius: 25px;
  padding: 0 25px;
  background-color: #fff;
  font-size: 17px;
}

.input-name{
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

.page-center-content{
  width: 100%;
  height: calc(100svh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  text-align: center;
}

.welcome p{
  padding: 10px 0;
}

.error-message{
  color: red;
}

.question-card{
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: #ffffffc9;
  border-radius: 40px;
}

.question-title-logo{
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edfbff;
}

.question-title-logo img{
  width: 40px;
}

.question-title h2{
  color: #0084FF;
  padding: 10px 0;
}

.question-pref{
  width: 100%;
  height: 60px;
  border-radius: 20px;
  padding: 0 20px;
  background-color: #EDEDED;
}

.select-style{
  width: 100%;
  height: 60px;
  border-radius: 20px;
  padding: 0 20px;
  background-color: #EDEDED;
}

.pref-select-btn{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 80px;

}

.pref-icon{
  width: 70px;
  height: 70px;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pref-detail{
  text-align: left;
}

.pref-detail h5{
  font-size: 20px;
}

.pref-icon span{
  font-size: 40px;
}


.date-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-style{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.seiti-jyunrei{
  position: relative;
  width: 100%;
  height: 150px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  background: radial-gradient(circle at top left, rgba(255, 107, 129, 0.3), transparent 60%),
                        radial-gradient(circle at top right, rgba(255, 214, 10, 0.3), transparent 60%),
                        radial-gradient(circle at bottom left, rgba(78, 205, 196, 0.3), transparent 60%),
                        radial-gradient(circle at bottom right, rgba(255, 159, 67, 0.3), transparent 60%),
                        white;
}

#seiti{
    background: radial-gradient(circle at top left, rgba(255, 107, 129, 0.3), transparent 60%),
                        radial-gradient(circle at top right, rgba(255, 214, 10, 0.3), transparent 60%),
                        radial-gradient(circle at bottom left, rgba(78, 205, 196, 0.3), transparent 60%),
                        radial-gradient(circle at bottom right, rgba(255, 159, 67, 0.3), transparent 60%),
                        white;
}

.seiti-jyunrei p{
  font-size: 10px;
  padding: 5px 0;
  color: #606060;
}

.seiti-jyunrei h5{
  font-size: 20px;
  color: #515151 ;
}

.seiti-jyunrei button{
  position: absolute;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #5d4037;
  color: #EDEDED;
  right: 15px;
  bottom: 10px;
}
